/* Blog Post Animation */
.post-link .post-list-image-wrapper .post-list-image,
.main-featured-link .main-featured-image-wrapper > .main-featured-image{
  transition: transform 2s ease-out;
}
.post-link:hover .post-list-image-wrapper .post-list-image,
.main-featured-link:hover .main-featured-image-wrapper > .main-featured-image{
  transform: scale(1.2);
}
.post-link .post-name-wrapper .h5,
.main-featured-title-wrapper .h4 {
  display: inline;
}
.post-link:hover .post-name-wrapper .h5,
.main-featured-link:hover .main-featured-info-wrapper .main-featured-title-wrapper .h4 {
  box-shadow: 0 -2px 0 0 inset #1e1e1e;
  transition: box-shadow 0.2s ease-in;
}

/* HubSpot Cookie Banner */
div#hs-eu-cookie-confirmation.hs-cookie-notification-position-bottom {
  box-shadow: none !important;
  border-color: #dee2e6 !important;
  font-family: 'Inter', sans-serif !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner {
   display: flex !important;
  align-items: center !important;
  padding: 16px !important; 
}
@media (max-width: 478px) {
  div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner {
    flex-wrap: wrap;
  }
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-eu-policy-wording {
   margin-bottom: 0 !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-eu-policy-wording p {
   margin: 0 16px 0 0 !important;
  font-size: 14px !important;
  line-height: 1.5 !important;
}
@media (max-width: 478px) {
  div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-eu-policy-wording p {
    margin: 0 0 8px 0 !important;
  }
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p a {
  font-size: 14px !important;
  color: #1e1e1e !important;
  text-decoration: underline !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p a:hover {
  text-decoration: none !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-en-cookie-confirmation-buttons-area {
   margin-right: 0 !important; 
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-confirmation-button {
  white-space: nowrap !important; 
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-eu-cookie-confirmation-button-group a#hs-eu-confirmation-button {
   color: #1e1e1e !important;
  font-size: 14px !important;
  margin: 0 !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-confirmation-button:hover {
   opacity: 0.85 !important; 
}
body div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-confirmation-button {
  border: 1px solid #1e1e1e !important;
}
/* End HubSpot Cookie Banner */

/* HubSpot Popup */
.leadinModal.leadinModal-theme-default {
   padding-top: 50px !important; 
}
.leadinModal.leadinModal-theme-default.leadinModal-v3 .leadinModal-content {
  background-color: #fff !important;
}
.leadinModal .leadinModal-content h1,
.leadinModal .leadinModal-content h2,
.leadinModal .leadinModal-content h3,
.leadinModal .leadinModal-content h4,
.leadinModal .leadinModal-content h5,
.leadinModal .leadinModal-content h6 {
  font-size: 1.8rem !important;
   color: #1e1e1e !important;
}
.leadinModal .leadin-button-wrapper{
  padding-top: 2em !important; 
}
.leadinModal.leadinModal-v3 .leadin-button {
   border: 1px solid #1e1e1e !important;
  padding: 0 16px!important;
  height: 48px !important;
  line-height: 48px !important;
  font-size: 1.2rem !important;
  box-shadow: 4px 4px 0 0 #1e1e1e !important;
  transition: all 200ms ease !important;
}
.leadinModal.leadinModal-v3 .leadin-button:hover {
  box-shadow: none !important;
  transform: translate(3px, 3px) !important;
  
}
.leadinModal .leadinModal-content .secondary-dismiss,
.leadinModal .leadinModal-content input[type=checkbox],
.leadinModal .leadinModal-content input[type=email],
.leadinModal .leadinModal-content input[type=number],
.leadinModal .leadinModal-content input[type=tel],
.leadinModal .leadinModal-content input[type=text],
.leadinModal .leadinModal-content li,
.leadinModal .leadinModal-content p,
.leadinModal .leadinModal-content select,
.leadinModal .leadinModal-content textarea,
.leadinModal .leadinModal-content ul {
  color: #1e1e1e !important;
  font-size: 1.3em !important;
}

.leadinModal .leadin-input-wrapper label {
  font-size: 1.1em !important;
  color: #1e1e1e !important;
}

.leadinModal .leadin-input-wrapper input[type=email],
.leadinModal .leadin-input-wrapper input[type=number],
.leadinModal .leadin-input-wrapper input[type=tel],
.leadinModal .leadin-input-wrapper input[type=text],
.leadinModal .leadin-input-wrapper select,
.leadinModal .leadin-input-wrapper textarea {
  margin: 0 !important;
  height: 56px !important;
  line-height: 56px !important;
  padding: 0 20px !important;
  border-color: #c0c7d1 !important;
  font-size: 1.1rem !important;
  outline: none !important;
}
.leadinModal .leadin-input-wrapper textarea {
  height: 120px !important;
}

.leadinModal .leadin-input-wrapper input[type=email]:focus,
.leadinModal .leadin-input-wrapper input[type=number]:focus,
.leadinModal .leadin-input-wrapper input[type=tel]:focus,
.leadinModal .leadin-input-wrapper input[type=text]:focus,
.leadinModal .leadin-input-wrapper select:focus,
.leadinModal .leadin-input-wrapper textarea:focus {
  border-color: #1e1e1e !important;
  box-shadow: none !important;
}

.leadinModal .leadin-input-wrapper input[type=checkbox].input-error,
.leadinModal .leadin-input-wrapper input[type=email].input-error,
.leadinModal .leadin-input-wrapper input[type=number].input-error,
.leadinModal .leadin-input-wrapper input[type=tel].input-error,
.leadinModal .leadin-input-wrapper input[type=text].input-error,
.leadinModal .leadin-input-wrapper select.input-error,
.leadinModal .leadin-input-wrapper textarea.input-error {
  border-color: #f2545b !important;
  box-shadow: none !important;
}
.leadinModal .leadin-input-wrapper .error-text {
   display: inline-block;
  height: 14px;
}
.leadinModal .leadin-close-button, .leadinModal .leadin-footer-link {
   color: #1e1e1e !important;
  font-size: 1.1em !important;
}