/* Blog Post Animation */
.post-link .post-list-image-wrapper .post-list-image,
.main-featured-link .main-featured-image-wrapper > .main-featured-image{
  transition: transform 2s ease-out;
}
.post-link:hover .post-list-image-wrapper .post-list-image,
.main-featured-link:hover .main-featured-image-wrapper > .main-featured-image{
  transform: scale(1.2);
}
.post-link .post-name-wrapper .h5,
.main-featured-title-wrapper .h4 {
  display: inline;
}
.post-link:hover .post-name-wrapper .h5,
.main-featured-link:hover .main-featured-info-wrapper .main-featured-title-wrapper .h4 {
  box-shadow: 0 -2px 0 0 inset #1e1e1e;
  transition: box-shadow 0.2s ease-in;
}

/* Animation for dropdown arrow in header nav */
.main-header-nav-dropdown-toggle .nav-dropdown-icon {
  transition: transform 0.2s ease-in-out;
}
.main-header-nav-dropdown-toggle.w--open .nav-dropdown-icon {
  transform: rotate(180deg);
}

@keyframes fadeInNav {
  0% { opacity: 0; transform: translateY(16px); }   
  100% { opacity: 1; transform: translateY(0); }
}
.main-header-nav-dropdown-toggle.w--open + .main-header-nav-dropdown-list {
   animation: fadeInNav 0.2s ease-in-out;
}
@media (max-width: 991px) {
  .main-header-nav-dropdown-toggle.w--open + .main-header-nav-dropdown-list {
    animation: none;
  }
}

.header-accordion-title-row.preview + .header-accordion-inner{
  display: block; 
}
.header-accordion-title-row.active .header-accordion-icon{
  transform: rotate(180deg);
}

/* Menu Button */
.menu-button .menu-button-burger .menu-button-burger-item {
  transition: transform 0.4s ease;
}
.menu-button.w--open .menu-button-burger .menu-button-burger-item.top {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-button.w--open .menu-button-burger .menu-button-burger-item.bottom {
  transform: rotate(-45deg) translate(5px, -5px);
}
.menu-button.w--open:hover {
   background-color: #FFED00;
}

.scroll-hidden {
   overflow: hidden; 
}

.w-nav-overlay {
   background-color: rgba(0,0,0,0.3);
  top: calc(100% - 1px);
}

.header.sticky:not(.mini) {
  box-shadow: 0px -1px 0px 0px #1c1c1c inset; 
}

/* Pricing */
.pricing-model-step-line {
  background: linear-gradient(to right, transparent 50%, #1e1e1e 50%), linear-gradient(to right, #fff, #fff);
  background-size: 12px 2px;
}
@media (max-width: 991px) {
  .pricing-model-step-line {
    background: linear-gradient(to bottom, transparent 50%, #1e1e1e 50%), linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 12px;
  }
}

.pricing-teams-link.active {
  background-color: #fff;
  border-color: #fff;
  color: #1e1e1e;
}
.pricing-teams-link.active .pricing-team-divider{
  border-color: #1e1e1e;
}
.pricing-teams-link.active .pricing-teams-check,
.pricing-teams-link:hover .pricing-teams-check{
  border-color: #1e1e1e;
  background-color: #FFED00;
}
.pricing-teams-link.active .pricing-teams-check .pricing-teams-check-white,
.pricing-teams-link:hover .pricing-teams-check .pricing-teams-check-white{
  display: none;
}
.pricing-teams-link.active .pricing-teams-check .pricing-teams-check-black,
.pricing-teams-link:hover .pricing-teams-check .pricing-teams-check-black{
  display: block;
}

.pricing-teams-link.active .pricing-team-image-wrapper.empty{
  border-color: #1e1e1e;
}
.pricing-teams-link.active .pricing-team-person-white{
  display: none;
}
.pricing-teams-link.active .pricing-team-person-black{
  display: block;
}

/* process schemes */
.agile-process-horizontal {
  width: calc(200% + 160px);
  background-image: repeating-linear-gradient(90deg, #1c1c1c, #1c1c1c 4px, transparent 4px, transparent 8px);
}

.agile-process-horizontal-start,
.agile-process-horizontal-finish {
  background-image: repeating-linear-gradient(0deg, #1c1c1c, #1c1c1c 4px, transparent 4px, transparent 8px);
}

.agile-process-arrow-back {
  background-image: repeating-linear-gradient(0deg, #1c1c1c, #1c1c1c 4px, transparent 4px, transparent 8px);
}

.agile-process-arrow-back-top,
.agile-process-arrow-back-bottom {
  background-image: repeating-linear-gradient(90deg, #1c1c1c, #1c1c1c 4px, transparent 4px, transparent 8px);
}

/* Our Success Stories (Cases) */
@media (min-width: 1280px) {
  .our-success-stories{
    grid-column-gap: 48px; 
  }
  .our-success-stories-item.small,
  .our-success-stories-cases-link{
    width: calc(44% - 24px); 
  }
  
  .our-success-stories-item.large {
    width: calc(56% - 24px); 
  }
}
.our-success-stories-item:hover .our-success-stories-title{
  transition: box-shadow 0.2s ease-in;
  box-shadow: 0 -2px 0 0 inset #fff;
}

/* HubSpot Cookie Banner */
div#hs-eu-cookie-confirmation.hs-cookie-notification-position-bottom {
  box-shadow: none !important;
  border-color: #dee2e6 !important;
  font-family: 'Inter', sans-serif !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner {
   display: flex !important;
  align-items: center !important;
  padding: 16px !important; 
}
@media (max-width: 478px) {
  div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner {
    flex-wrap: wrap;
  }
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-eu-policy-wording {
   margin-bottom: 0 !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-eu-policy-wording p {
   margin: 0 16px 0 0 !important;
  font-size: 14px !important;
  line-height: 1.5 !important;
}
@media (max-width: 478px) {
  div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-eu-policy-wording p {
    margin: 0 0 8px 0 !important;
  }
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p a {
  font-size: 14px !important;
  color: #1e1e1e !important;
  text-decoration: underline !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p a:hover {
  text-decoration: none !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-en-cookie-confirmation-buttons-area {
   margin-right: 0 !important; 
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-confirmation-button {
  white-space: nowrap !important; 
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-eu-cookie-confirmation-button-group a#hs-eu-confirmation-button {
   color: #1e1e1e !important;
  font-size: 14px !important;
  margin: 0 !important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-confirmation-button:hover {
   opacity: 0.85 !important; 
}
body div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a#hs-eu-confirmation-button {
  border: 1px solid #1e1e1e !important;
}
/* End HubSpot Cookie Banner */

/* HubSpot Popup */
.leadinModal.leadinModal-theme-default {
   padding-top: 50px !important; 
}
.leadinModal.leadinModal-theme-default.leadinModal-v3 .leadinModal-content {
  background-color: #fff !important;
}
.leadinModal .leadinModal-content h1,
.leadinModal .leadinModal-content h2,
.leadinModal .leadinModal-content h3,
.leadinModal .leadinModal-content h4,
.leadinModal .leadinModal-content h5,
.leadinModal .leadinModal-content h6 {
  font-size: 1.8rem !important;
   color: #1e1e1e !important;
}
.leadinModal .leadin-button-wrapper{
  padding-top: 2em !important; 
}
.leadinModal.leadinModal-v3 .leadin-button {
   border: 1px solid #1e1e1e !important;
  padding: 0 16px!important;
  height: 48px !important;
  line-height: 48px !important;
  font-size: 1.2rem !important;
  box-shadow: 4px 4px 0 0 #1e1e1e !important;
  transition: all 200ms ease !important;
}
.leadinModal.leadinModal-v3 .leadin-button:hover {
  box-shadow: none !important;
  transform: translate(3px, 3px) !important;
  
}
.leadinModal .leadinModal-content .secondary-dismiss,
.leadinModal .leadinModal-content input[type=checkbox],
.leadinModal .leadinModal-content input[type=email],
.leadinModal .leadinModal-content input[type=number],
.leadinModal .leadinModal-content input[type=tel],
.leadinModal .leadinModal-content input[type=text],
.leadinModal .leadinModal-content li,
.leadinModal .leadinModal-content p,
.leadinModal .leadinModal-content select,
.leadinModal .leadinModal-content textarea,
.leadinModal .leadinModal-content ul {
  color: #1e1e1e !important;
  font-size: 1.3em !important;
}

.leadinModal .leadin-input-wrapper label {
  font-size: 1.1em !important;
  color: #1e1e1e !important;
}

.leadinModal .leadin-input-wrapper input[type=email],
.leadinModal .leadin-input-wrapper input[type=number],
.leadinModal .leadin-input-wrapper input[type=tel],
.leadinModal .leadin-input-wrapper input[type=text],
.leadinModal .leadin-input-wrapper select,
.leadinModal .leadin-input-wrapper textarea {
  margin: 0 !important;
  height: 56px !important;
  line-height: 56px !important;
  padding: 0 20px !important;
  border-color: #c0c7d1 !important;
  font-size: 1.1rem !important;
  outline: none !important;
}
.leadinModal .leadin-input-wrapper textarea {
  height: 120px !important;
}

.leadinModal .leadin-input-wrapper input[type=email]:focus,
.leadinModal .leadin-input-wrapper input[type=number]:focus,
.leadinModal .leadin-input-wrapper input[type=tel]:focus,
.leadinModal .leadin-input-wrapper input[type=text]:focus,
.leadinModal .leadin-input-wrapper select:focus,
.leadinModal .leadin-input-wrapper textarea:focus {
  border-color: #1e1e1e !important;
  box-shadow: none !important;
}

.leadinModal .leadin-input-wrapper input[type=checkbox].input-error,
.leadinModal .leadin-input-wrapper input[type=email].input-error,
.leadinModal .leadin-input-wrapper input[type=number].input-error,
.leadinModal .leadin-input-wrapper input[type=tel].input-error,
.leadinModal .leadin-input-wrapper input[type=text].input-error,
.leadinModal .leadin-input-wrapper select.input-error,
.leadinModal .leadin-input-wrapper textarea.input-error {
  border-color: #f2545b !important;
  box-shadow: none !important;
}
.leadinModal .leadin-input-wrapper .error-text {
   display: inline-block;
  height: 14px;
}
.leadinModal .leadin-close-button, .leadinModal .leadin-footer-link {
   color: #1e1e1e !important;
  font-size: 1.1em !important;
}